@charset "utf-8";
/*
GENERAL STYLING
================================================ */
:root {
  --black: #0a0504;
  --white: #ffffff;
  --blue: #08b9b4;
  --yellow: #e3de54;
  --gray: #e8e8e8;
  --l-gray: #f5f5f7;
  --d-gray: #36393c;
  --red: #b90808;
  /*fotns*/
  --lato: "Lato", sans-serif;
  --noto: "Noto Sans JP", sans-serif;
  /*font-weight*/
  --light: 300;
  --med: 500;
  --bold: 700;

  /*box-shadow*/
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.16);

  --w: min(90vw, 1088px);
  --blank: calc((100vw - var(--w)) / 2);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.9;
  font-weight: 400;
  color: var(--black);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul li {
  list-style: none;
}
.br-pc {
  display: none;
}
@media (min-width: 520px) {
  .br-sp {
    display: none;
  }
  .br-pc {
    display: block;
  }
}
/*------------------------------*/
/*grid*/
/*------------------------------*/
/*パーツグリッド*/
.partsGrid {
  display: grid;
  grid-template-columns: minmax(8vw, 1fr) minmax(auto, 1088px) minmax(8vw, 1fr);
}
.partsGrid > * {
  grid-column: 2;
}
/*12分割グリッド*/
.grid12 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.grid12 > * {
  grid-column: 1 / -1;
}
@media (min-width: 520px) {
  .grid12 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
@media (min-width: 960px) {
  .grid12 {
    column-gap: 30px;
  }
}
.cols-mob2 > * {
  grid-column: span 2;
}
@media (min-width: 520px) {
  .cols-tab2 > * {
    grid-column: span 6;
  }
  .cols-tab3 > * {
    grid-column: span 4;
  }
}
@media (min-width: 960px) {
  .cols-pc4 > * {
    grid-column: span 3;
  }
  .cols-pc3 > * {
    grid-column: span 4;
  }
}
/*グレーの背景部分(AboutUs以外)*/
.gray-wrapper {
  background: var(--l-gray);
  padding-top: 60px;
  padding-bottom: 80px;
}
.gray-wrapper section:not(:last-child) {
  margin-bottom: 80px;
}
@media (min-width: 520px) {
  .gray-wrapper {
    padding-top: 120px;
    padding-bottom: 200px;
  }
  .gray-wrapper section:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media (min-width: 960px) {
  .gray-wrapper section:not(:last-child) {
    margin-bottom: 140px;
  }
}
/*見出し*/
h2 {
  font-family: var(--lato);
  font-weight: 100;
  color: var(--blue);
  font-size: 4.6rem;
  margin-bottom: 50px;
  line-height: 1.2;
}
h2 span {
  display: block;
  font-size: 1.2rem;
  font-family: var(--noto);
}
@media (min-width: 520px) {
  h2 {
    font-size: 10rem;
  }
}
@media (min-width: 960px) {
  h2 {
    font-size: 11.2rem;
    margin-bottom: 120px;
  }
  h2 span {
    font-size: 1.6rem;
  }
}
p.lead {
  margin-bottom: 50px;
  font-weight: var(--med);
  line-height: 1.5;
  font-size: 2rem;
}
@media (min-width: 520px) {
  p.lead {
    font-size: 2.6rem;
    grid-column: 3/-1;
  }
  p.detail {
    grid-column: 3/-1;
    font-size: 1.6rem;
  }
}
@media (min-width: 960px) {
  p.lead {
    font-size: 3.2rem;
  }
}
/*
About Us
================================================ */
#about {
  background: var(--white);
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (min-width: 520px) {
  #about {
    height: 100vh;
    align-items: center;
    padding: 0;
  }
}
/*
Clients/Works
================================================ */
.clients {
  background: var(--gray);
  padding: 50px 0;
  overflow-x: hidden;
}
.client-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 0 8vw;
}
.client-data {
  background: var(--blue);
  margin-top: 14px;
  padding: 30px;
}
.client-data._yellow {
  background: var(--yellow);
}
.client-name {
  font-size: 2.6rem;
  margin-bottom: 10px;
  font-weight: var(--med);
  line-height: 1.3;
}
.client-project {
  font-size: 1.6rem;
  font-weight: var(--med);
  margin-bottom: 20px;
}
.view-detail {
  margin-top: 20px;
  text-decoration: underline;
  font-family: var(--lato);
  font-size: 1.6rem;
  position: relative;
  display: block;
  padding-left: 30px;
}
.view-detail:hover {
  opacity: 0.8;
}
.view-detail::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/img_arrow_01.svg);
  background-repeat: no-repeat;
}
@media (min-width: 520px) {
  .clients {
    padding-top: 100px;
  }
  .client-box {
    flex-direction: row;
    margin-bottom: 240px;
    padding: 0;
    position: relative;
  }
  .client-box._yellow {
    flex-direction: row-reverse;
  }
  .client-img {
    z-index: 1;
    width: 40%;
  }
  .client-img img {
    object-fit: cover;
  }
  .client-box._blue .client-img {
    padding-left: calc((100vw - var(--w)) / 2);
  }
  .client-box._yellow .client-img {
    padding-right: calc((100vw - var(--w)) / 2);
  }
  .client-data {
    width: 50%;
    position: relative;
    top: 100px;
    margin-top: 0;
    background: none;
  }
  .client-box._blue .client-data {
    padding: 50px 0 40px 50px;
  }
  .client-box._yellow .client-data {
    padding: 50px 50px 40px 0;
  }
  .client-data::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
  }
  .client-box._blue .client-data::after {
    left: -90px;
    background-color: var(--blue);
  }
  .client-box._yellow .client-data::after {
    right: -90px;
    background-color: var(--yellow);
  }
  /*.client-box .client-data {
    grid-column: 1 / 7;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 40px;
  }
  .client-box .client-img {
    grid-column: 8 / -1;
  }
  .client-box .client-data._yellow {
    grid-column: 7 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
*/
}
/*
Project Team
================================================ */
.team-item {
  background: var(--white);
  padding: 0 18px 30px;
  margin-bottom: 30px;
  box-shadow: var(--shadow);
}
.team-item:last-child {
  margin-bottom: 0;
}

.team-item figure {
  text-align: center;
}
.team-item h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: var(--med);
}
@media (min-width: 520px) and (max-width: 959px) {
  .team-item:nth-child(3),
  .team-item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .team-item {
    margin-bottom: 0;
  }
}

/*
Service
================================================ */
.service-item {
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 50px 0 30px;
  position: relative;
  margin-bottom: 66px;
}
.service-item:first-child {
  margin-top: 36px;
}
.service-item:last-child {
  margin-bottom: 0;
}
.service-item h3,
.service-item .price {
  text-align: center;
}
.service-item h3 {
  color: var(--blue);
  font-size: 2rem;
  font-weight: var(--med);
  line-height: 1.3;
  margin-bottom: 16px;
}
.service-item .price {
  font-weight: var(--bold);
  font-size: 3.4rem;
  font-family: var(--lato);
  line-height: 1;
}
.service-item .price span.yen {
  font-size: 2rem;
}
p.month {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.8em;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
}
.icon span {
  font-size: 3.4rem;
  color: var(--white);
}
@media (min-width: 520px) and (max-width: 959px) {
  .service-item:nth-child(1),
  .service-item:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .service-item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .service-wrapper {
    margin-top: 36px;
  }
  .service-item {
    margin-bottom: 0;
  }
  .service-item:first-child {
    margin-top: 0;
  }
}

/*
Cyber Secutiry
================================================ */
.plan-item {
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 30px 20px;
  margin-top: 50px;
}

.plan-item h3 {
  text-align: center;
  color: var(--blue);
  font-weight: var(--med);
  font-size: 2.2rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.plan-price {
  margin-bottom: 16px;
  line-height: 1;
}
.plan-price .price {
  font-family: var(--lato);
  font-size: 3.4rem;
  font-weight: var(--bold);
  text-align: center;
}
.plan-price .price span {
  font-size: 2rem;
}
.plan-item > p {
  margin-bottom: 10px;
}
.plan-item ul {
  list-style: none;
}
.plan-item li::before {
  content: "※";
  margin-right: 5px;
}
@media (min-width: 520px) {
  .plan-item h3 {
    margin-bottom: 30px;
  }

  .plan-price {
    margin-bottom: 30px;
  }
}
/*
Anytime OK
================================================ */
.anytime {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url(../img/bg-anytime-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  position: relative;
  z-index: 2;
  min-width: 100%;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.anytime h2,
.anytime p {
  z-index: 1;
}
.anytime p {
  color: var(--white);
}
@media (min-width: 520px) {
  .anytime {
    padding-top: 120px;
    padding-bottom: 160px;
    background-image: url(../img/bg-anytime-sp.jpg);
  }
}

/*
Partners
================================================ */
.partner-box {
  box-shadow: var(--shadow);
}
@media (max-width: 519px) {
  .gridPartner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
  .partner-box {
    grid-column: span 1;
  }
}
/*
Company
================================================ */
.company-list dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.company-list dt {
  grid-column: span 1;
}
.company-list dd {
  grid-column: span 3;
}
.company-list li {
  border-bottom: 1px solid var(--black);
  padding: 0 0 14px 0;
  margin: 0 0 15px 0;
}
@media (min-width: 520px) {
  .company-list {
    grid-column: 3/-1;
  }
  .company-list dt {
    padding-left: 10px;
  }
}
/*
Contact
================================================ */
.necessary {
  display: block;
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 400;
}
#contact {
  padding-top: 60px;
  padding-bottom: 80px;
}
.form-list li {
  margin-bottom: 30px;
}
#contact .form-list input[type="text"],
#contact .form-list input[type="email"],
#contact .form-list textarea {
  width: 100%;
  border: 1px solid var(--black);
  background: var(--white);
  padding: 10px;
  border-radius: 3px;
}
#contact .submit-btn {
  width: 120px;
}
#contact input[type="submit"] {
  color: var(--white);
  background: var(--black);
  text-align: center;
  padding: 14px 40px;
  border-radius: 3px;
}
.form-list span {
  font-size: 0.6em;
  vertical-align: super;
  color: var(--red);
}
@media (min-width: 520px) {
  .form-list {
    grid-column: 3/-1;
  }
  .form-list .form-name,
  .form-list .form-email,
  .form-list .form-tel {
    grid-column: 1/7;
  }
}
/*
sns
================================================ */
.sns ul {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
@media (min-width: 520px) {
  .sns ul {
    padding-bottom: 40px;
  }
}
.sns li:not(:last-child) {
  margin-right: 40px;
}
.sns svg {
  width: 38px;
  height: auto;
}
.sns li:nth-of-type(1) svg {
  fill: #4267b2;
}
.sns li:nth-of-type(2) svg {
  fill: #1da1f2;
}
.sns li:nth-of-type(3) svg {
  fill: #2867b2;
}

/*
FOOTER
================================================ */
footer {
  padding: 8px 0;
  background: var(--black);
}
footer p {
  text-align: center;
  color: var(--white);
  font-size: 1.4rem;
}
@media (min-width: 520px) {
  footer p {
    font-size: 1.6rem;
  }
}
/*
HERO
================================================ */
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.hero-text {
  position: absolute;
  bottom: 10vh;
  left: 0;
  color: var(--white);
  line-height: 1.4;
}
.hero-text h1 {
  font-size: 2.8rem;
  font-weight: var(--med);
  margin-bottom: 20px;
}
.hero-lead {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: var(--med);
}
@media (min-width: 520px) {
  .hero-text h1 {
    font-size: 4.6rem;
  }
  .hero-lead {
    font-size: 2.4rem;
  }
  .hero-hope {
    font-size: 1.8rem;
  }
}
@media (min-width: 960px) {
  .hero-text h1 {
    font-size: 6rem;
  }
  .hero-lead {
    font-size: 3rem;
  }
}
.hero-logo {
  position: absolute;
  left: 8vw;
  top: 20px;
}
.hero-logo-inner {
  display: flex;
  align-items: center;
}
.hero-logo-inner > p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: var(--bold);
  padding-left: 1em;
}
.hero video {
  object-fit: cover;
  object-position: center bottom;
  opacity: var(--video-opacity);
  width: 100vw;
  height: 100vh;
}
